<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.base">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--扫一扫-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!--  定位  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--  联系人  -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity android:name="com.common.base.base.activity.BaseActivity"/>
        <activity android:name="com.common.base.base.activity.BaseContainerActivity"/>

        <activity android:name="com.common.base.image.ImagePickerActivity"/>
        <activity android:name="com.common.base.image.ImagePickerCameraEmptyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Picture.Theme.Translucent"/>

        <activity android:name="com.common.base.app.EnvironmentPickerActivity"
                    android:windowSoftInputMode="adjustPan"
                    android:launchMode="singleTask"/>
    </application>

</manifest>